<div class="aside aside-menu">
    <div class="aside-menu__header">
        Категории
    </div>
    <!-- /.aside-menu__header -->
    <div class="aside-menu__list">
        <ul>
            <li><a href="#">Итальянские спальни</a></li>
            <li><a href="#">Итальянские кухни</a></li>
            <li><a href="#">Итальянская мягкая мебель</a></li>
            <li><a href="#">Итальянские детские</a></li>
            <li><a href="#">Кабинеты из Италии</a></li>
            <li><a href="#">Итальянские гостиные</a></li>
            <li><a href="#">Итальянские столовые</a></li>
            <li><a href="#">Свет из Италии</a></li>
            <li><a href="#">Итальянская мебель для ванных</a></li>
            <li><a href="#">Уличная мебель из Италии</a></li>
            <li><a href="#">Итальянские двери</a></li>
        </ul>
    </div>
    <!-- /.aside-menu__list -->

    <div class="footer">
        <div class="copyright">
            © Futuro Casa, 2018
        </div>
        <!-- /.copyright -->
        <div class="social">
            <ul>
                <li><a target="_blank" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a target="_blank" href="#"><i class="fab fa-vk"></i></a></li>
                <li><a target="_blank" href="#"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>
        <!-- /.social -->
    </div>
    <!-- /.footer -->


</div>
<!-- /.aside-menu -->
