<div class="aside aside-news">
    <div class="aside-news__header">
        Новости
    </div>
    <!-- /.aside-news__header -->
    <div class="news-item">
        <div class="news-item__date">
            18.04.2018
        </div>
        <!-- /.news-item__date -->
        <a href="#" class="news-item__title">
            Открытие нового шоу-рума
        </a>
        <!-- /.news-item__title -->
        <img src="/src/img/content/catalog/23.png" alt="img">
        <div class="news-item__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at, aut culpa delectus eveniet exercitationem expedita, explicabo facilis fuga impedit iure laudantium libero natus non nulla odio optio perferendis placeat, porro quae quaerat quas quidem soluta suscipit tempore totam voluptas?
        </div>
        <!-- /.news-item__text -->
        <div class="news-item__more">
            Развернуть
        </div>
        <!-- /.news-item__more -->
    </div>
    <!-- /.news-item -->
    <div class="news-item">
        <div class="news-item__date">
            18.04.2018
        </div>
        <!-- /.news-item__date -->
        <a href="#" class="news-item__title">
            Открытие нового шоу-рума
        </a>
        <!-- /.news-item__title -->
        <div class="news-item__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum cumque eos error explicabo ipsa magnam minus, nam quaerat velit. Amet architecto ea et fugiat in inventore laboriosam, mollitia nulla obcaecati, repellendus repudiandae sit voluptate!
        </div>
        <!-- /.news-item__text -->
        <div class="news-item__more">
            Развернуть
        </div>
        <!-- /.news-item__more -->
    </div>
    <!-- /.news-item -->
</div>
<!-- /.aside-news -->