<div class="header">
    <div class="container-fluid">
        <div class="header-social">
            <ul>
                <li><a target="_blank" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a target="_blank" href="#"><i class="fab fa-vk"></i></a></li>
                <li><a target="_blank" href="#"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>
        <!-- /.social -->
        <div class="row">
            <div class="header-menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- /.header-menu-btn -->
            <div class="header-menu header-menu--left">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="about.html">О компании</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                </ul>
            </div>
            <!-- /.header-menu -->
            <div class="header-logo">
                <div class="logo-info logo-info--left">
                    <div class="logo-info__title">Офис в России</div>
                    <!-- /.logo-info__title -->
                    <div class="logo-info__phone">+7-964-947-3005</div>
                    <!-- /.logo-info__phone -->
                    <div class="logo-info__mail">kseniya_20104@mail.ru</div>
                    <!-- /.logo-info__mail -->
                </div>
                <!-- /.logo-info -->
                <img src="/src/img/design/logo.svg" alt="logo">
                <div class="logo-info logo-info--right">
                    <div class="logo-info__title">Офис в Италии</div>
                    <!-- /.logo-info__title -->
                    <div class="logo-info__phone">+39-392-589-2700</div>
                    <!-- /.logo-info__phone -->
                    <div class="logo-info__mail">futurocasaitaly@gmail.com</div>
                    <!-- /.logo-info__mail -->
                </div>
                <!-- /.logo-info -->
            </div>
            <!-- /.header-logo -->
            <div class="header-menu header-menu--right">
                <ul class="ul-right">
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
                <div class="header-lang">
                    <a href="#" class="header-lang__item active">
                        <span>РУС</span>
                        <img src="/src/img/design/ico/ru.png" alt="img">
                    </a>
                    <!-- /.header-lang__item -->
                    <a href="#" class="header-lang__item">
                        <span>EN</span>
                        <img src="/src/img/design/ico/en.png" alt="img">
                    </a>
                    <!-- /.header-lang__item -->
                </div>
                <!-- /.header-lang -->
            </div>
            <!-- /.header-menu -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.header -->

<div class="mobile-menu">
    <div class="mobile-menu__wrap">
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="portfolio.html">Портфолио</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="contact.html">Контакты</a></li>
        </ul>
        <div class="header-lang">
            <a href="#" class="header-lang__item active">
                <span>РУС</span>
                <img src="/src/img/design/ico/ru.png" alt="img">
            </a>
            <!-- /.header-lang__item -->
            <a href="#" class="header-lang__item">
                <span>EN</span>
                <img src="/src/img/design/ico/en.png" alt="img">
            </a>
            <!-- /.header-lang__item -->
        </div>
        <!-- /.header-lang -->
    </div>
    <!-- /.mobile-menu__wrap -->
</div>
<!-- /.mobile-menu -->
