{% extends "../layout/base_layout.twig" %}

{% set page_name = 'О компании' %}

{% block content %}

    <div class="page-header">
        <h1>О компании</h1>
    </div>
    <!-- /.page-header -->

    <div class="info">
        <img src="/src/img/content/7.jpg" alt="img" style="float: left">
        <p>
            Италия всегда манила к себе двухтысячилетней историей, средиземноморским климатом и кухней. И всё же первостепенная цель планирумой поездки для большинства туристов  – это желание окунуться в  неповторимый стиль и дизайн итальянской мебели.
        </p>
        <p>
            Наша компания - FUTURO CASA  уже многие годы работает на рынке по продвижению и продаже мебели и предметов интерьера многочисленных итальянских производителей не только на территории России, но и далеко за её пределами. Высокий профессиональный уровень сотрудников в комплексе с уникальными предложениями и приемлемыми ценами уже высоко оценили клиенты из России, Казахстана, Израйля, Беларуси, Сенегала и т.д.
        </p>
        <p>
            Находясь на территории Италии, мы можем предложить нашим клиентам итальянскую мебель сотен фабрик любых стилевых направлений,  своевременную поставку, но самое главное, в условиях кризиса и огромного количества подделок, заполонивших мировые рынки, мы гарантируем происхождение и высочайшее качество предлагаемой нами продукции.
        </p>
    </div>
    <!-- /.info -->

    <div class="about-list">
        <h2>Покупая мебель в нашей компании, вы имеете возможность:</h2>
        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Не переплачивать услуги посредников, что позволяет значительно сократить бюджет на покупку. Мы гарантируем реальную экономию до 40% по сравнению с ценами в местных салонах
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/7.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->
        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Заказать услуги итальянского дизайнера для реализации проекта элитного загородного дома или фешенебельной квартиры. Мы предлагаем так же услуги нашего партнёра – дизайн студию Stile di Vita в России, которая предложит вам универсальный сервис по доступным ценам
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/8.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->

        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Лично приехать в Италию и посетить выбранную фабрику, окунуться в производственный процесс, наблюдать за работой величайших мастеров современности. В каждой поездке вас будет сопровождать русскоговорящий менеджер. Данная услуга для наших клиентов совершенно бесплатна!
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/9.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->
        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Приобрести элитный  итальянский текстиль и эксклюзивные предметы интерьера для вашего дома по оптовым ценам
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/1212.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->
        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Заказать не только стандартную мебель, но и реализовать изделия по индивидуальному проекту
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/11.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->
        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Только для наших клиентов знаменитый бутик <b>RATTI</b> предоставляет экслюзивные скидки на лучшие мировые брэнды: <b>DIOR, CHANEL, PRADA, DOLCE&GABANNA, HERMES</b>
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/12.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->
        <div class="about-list-item">
            <table>
                <tr>
                    <td>
                        <p>
                            При оформлении заказа на сумму свыше €150.000, наша компания оплачивает клиентам <b>поездку и недельное проживание</b> в 4-х звёздочной гостинице в г. Пезаро.
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/about-list/13.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.about-list-item -->
    </div>
    <!-- /.about-list -->

    <div class="about-text">
        <div class="row">
            <div class="about-text__img">
                <img src="/src/img/content/14.png" alt="img">
            </div>
            <!-- /.about-text__img -->
            <div class="about-text__text">
                <p>
                    Наш офис находится в самом сердце Италии в регионе Марке – родина таких великих мастеров как Рафаэлло, Брамантэ, Леопарди и Россини, которые оставили бесценное наследие своим потомкам и, конечно же оказали влияние на культурную эволюцию страны.
                </p>
            </div>
            <!-- /.about-text__text -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.about-text -->

    <div class="about-logos">
        <img src="/src/img/content/logos/1.png" alt="img">
        <img src="/src/img/content/logos/2.png" alt="img">
        <img src="/src/img/content/logos/3.png" alt="img">
        <img src="/src/img/content/logos/4.png" alt="img">
        <img src="/src/img/content/logos/5.png" alt="img">
    </div>
    <!-- /.about-logos -->


{% endblock %}