{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Контакты' %}

{% block content %}

    <div class="page-header">
        <h1>Контакты</h1>
    </div>
    <!-- /.page-header -->
    <div class="row">
        <div class="contact-item">
            <div class="contact-item__header">
                <h2>Офис в Италии</h2>
            </div>
            <!-- /.contact-item__header -->
            <div class="contact-info">
                <div class="contact-info__logo">
                    <img src="/src/img/design/ico/logo_1.svg" alt="logo">
                </div>
                <!-- /.contact-info__logo -->
                <div class="contact-info__text">
                    <a href="tel:+39-392-589-2700" class="contact-info__phone">+39-392-589-2700</a>
                    <!-- /.contact-info__phone -->
                    <a href="mailto:futurocasaitaly@gmail.com" class="contact-info__mail">futurocasaitaly@gmail.com</a>
                    <!-- /.contact-info__mail -->
                </div>
                <!-- /.contact-info__text -->
            </div>
            <!-- /.contact-info -->
            <div class="contact-item__map" id="map_1"></div>
            <!-- /.contact-item__map -->
            <div class="contact-item__address">
                Futuro Casa<br>
                Адрес: VIA DEGLI ABETI 200<br>
                61122 PESARIO, ITALY
            </div>
            <!-- /.contact-item__address -->
        </div>
        <!-- /.contact-item -->
        <div class="contact-item">
            <div class="contact-item__header">
                <h2>Офис в России</h2>
            </div>
            <!-- /.contact-item__header -->
            <div class="contact-info">
                <div class="contact-info__logo">
                    <img src="/src/img/design/ico/logo_2.svg" alt="logo">
                </div>
                <!-- /.contact-info__logo -->
                <div class="contact-info__text">
                    <a href="tel:+7-964-947-3005" class="contact-info__phone">+7-964-947-3005</a>
                    <!-- /.contact-info__phone -->
                    <a href="mailto:kseniya_20104@mail.ru" class="contact-info__mail">kseniya_20104@mail.ru</a>
                    <!-- /.contact-info__mail -->
                </div>
                <!-- /.contact-info__text -->
            </div>
            <!-- /.contact-info -->
            <div class="contact-item__map" id="map_2"></div>
            <!-- /.contact-item__map -->
            <div class="contact-item__address">
                Дизайн студия "Stile di Vita"<br>
                Адрес: УЛИЦА ГАГАРИНА 82А<br>
                г. СОЧИ, РОССИЯ
            </div>
            <!-- /.contact-item__address -->
            <div class="contact-item__site">
                www.sdv-design.ru
            </div>
            <!-- /.contact-item__site -->

        </div>
        <!-- /.contact-item -->
    </div>
    <!-- /.row -->

{% endblock %}