{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Главная' %}

{% block content %}



    <div class="page-header page-header-main">
        <div class="category-mobile">
            <div class="category-btn">Категории</div>
            <!-- /.category-btn -->
            <div class="category-mobile-list">
                <ul>
                    <li><a href="#">Итальянские спальни</a></li>
                    <li><a href="#">Итальянские кухни</a></li>
                    <li><a href="#">Итальянская мягкая мебель</a></li>
                    <li><a href="#">Итальянские детские</a></li>
                    <li><a href="#">Кабинеты из Италии</a></li>
                    <li><a href="#">Итальянские гостиные</a></li>
                    <li><a href="#">Итальянские столовые</a></li>
                    <li><a href="#">Свет из Италии</a></li>
                    <li><a href="#">Итальянская мебель для ванных</a></li>
                    <li><a href="#">Уличная мебель из Италии</a></li>
                    <li><a href="#">Итальянские двери</a></li>
                </ul>
            </div>
            <!-- /.category-mobile-list -->
        </div>
        <!-- /.category-mobile -->
        <h1>Каталог наших партнёров</h1>
    </div>
    <!-- /.page-header -->

    <div class="catalog">
        <div class="catalog-slider owl-carousel">
            <div class="row">
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
            </div>
            <!-- /.row -->
            <div class="row">
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
            </div>
            <!-- /.row -->
            <div class="row">
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
                <a href="#" class="catalog-item">
                    <div class="catalog-item__title">ARCA</div>
                    <!-- /.catalog-item__title -->
                    <div class="catalog-item__img">
                        <img src="/src/img/content/catalog/2.jpg" alt="img">
                    </div>
                    <!-- /.catalog-item__img -->
                </a>
                <!-- /.catalog-item -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.catalog-slider -->
    </div>
    <!-- /.catalog -->

    <div class="info-block">
        <h2 class="info-block__header">
            ИТАЛЬЯНСКАЯ МЕБЕЛЬ
        </h2>
        <!-- /.info-block__header -->
        <div class="row">
            <div class="info-block__text">
                <p>
                    Является эталоном эстетики, качества и долговечности. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <!-- /.info-block__text -->
            <div class="info-block__img">
                <img src="/src/img/content/catalog/2.jpg" alt="img">
            </div>
            <!-- /.info-block__img -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.info-block -->



{% endblock %}