{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Услуги' %}

{% block content %}

    <div class="page-header">
        <h1>Услуги</h1>
    </div>
    <!-- /.page-header -->

    <div class="services-all">
        <a href="services-1.html" class="services-all-item">
            Заказ мебели и оплата
            <img src="/src/img/design/ico/1.svg" alt="ico">
        </a>
        <!-- /.services-all-item -->
        <a href="services-2.html" class="services-all-item">
            Упаковка и доставка мебели
            <img src="/src/img/design/ico/2.svg" alt="ico">
        </a>
        <!-- /.services-all-item -->
        <a href="services-3.html" class="services-all-item">
            Услуги дизайнера
            <img src="/src/img/design/ico/3.svg" alt="ico">
        </a>
        <!-- /.services-all-item -->
    </div>
    <!-- /.services-all -->


{% endblock %}