{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Услуги' %}

{% block content %}

    <div class="page-tabs">
        <a href="services-1.html" class="page-tabs__tab active">Оформление заказа</a>
        <!-- /.page-tabs__tab -->
        <a href="services-2.html" class="page-tabs__tab">Упаковка и доставка</a>
        <!-- /.page-tabs__tab -->
        <a href="services-3.html" class="page-tabs__tab">Услуги дизайнера</a>
        <!-- /.page-tabs__tab -->
    </div>
    <!-- /.page-tabs -->

    <div class="decoration">
        <h2>Оформление и деталировка заказа</h2>
        <div class="decoration-item">
            <table>
                <tr>
                    <td>
                        <img src="/src/img/content/decoration/15.png" alt="img">
                    </td>
                    <td>
                        <p>
                            Заказать мебель из Италии можно в режиме он-лайн или же приехав в наш итальянский офис, совместив приятную и познавательную экскурсию с удовольствием самому окунуться в мир итальянского дизайна. Все детали заказа можно заранее обсудить с нашим консультантом и внимательно изучив каталог понравившегося производителя. Если в нашей библиотеке таковой отсутствует, отправьте наименование фабрики и мы отправим вам актуальный электронный каталог.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.decoration-item -->

        <div class="decoration-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Во избежание гаданий с размерами мебели, желательно иметь при себе планиметрию помещения и расположение комуникаций или же уже разработанный дизайн-проект, который вы всегда можете заказать у нашего дизайнера в России; аналогичная услуга итальянского дизайнера обойдётся вам гораздо дороже.
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/decoration/16.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.decoration-item -->

        <div class="decoration-item">
            <table>
                <tr>
                    <td>
                        <img src="/src/img/content/decoration/17.png" alt="img">
                    </td>
                    <td>
                        <p>
                            <b>
                                1. Заказать итальянскую мебель из дома
                            </b>
                        </p>
                        <p>
                            Если по независящим от вас обстоятельствам, поездку не удаётся осуществить, заказать мебель из Италии можно сидя у компьютера вооружившись капелькой терпения:
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.decoration-item -->

        <div class="decoration-list-wrap">
            <div class="decoration-list">
                <p>
                    Отправьте наименование производителя и понравившийся артикул или фото аналогичного товара.
                </p>
                <img src="/src/img/design/ico/6.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
            <div class="decoration-list">
                <p>
                    Если цветовая гамма отличается от изображения, уточните оттенок ткани, отделку дерева, наличие декоративных элементов.
                </p>
                <img src="/src/img/design/ico/7.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
            <div class="decoration-list">
                <p>
                    В течении 48 часов мы сообщим вам цену вашего заказа и ориентировочную стоимость по его доставке и таможенному оформлению, а так же сроки поставки;
                </p>
                <img src="/src/img/design/ico/8.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
            <div class="decoration-list">
                <p>
                    При согласовании всех условий, составляется контракт с детальной спецификацией, на основании которого мы выписываем вам счёт на оплату. Перевод осуществляется в Евро на счёт нашей компании;
                </p>
                <img src="/src/img/design/ico/9.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
        </div>
        <!-- /.decoration-list-wrap -->

        <div class="step-2">
            <div class="row">
                <div class="step-2__img">
                    <img src="/src/img/content/18.png" alt="img">
                </div>
                <!-- /.step-2__img -->
                <div class="step-2__text">
                    <p>
                        <b>
                            2. Заказать итальянскую мебель в Италии
                        </b>
                    </p>
                    <p>
                        Если ваше желание посетить Италию и лично заняться выбором мебели преобладало над остальными аргументами, добро пожаловать в наш офис, который находится в г. Пезаро - город музыки на берегу Адриатического моря:
                    </p>
                </div>
                <!-- /.step-2__text -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.step-2 -->

        <div class="decoration-list-wrap">
            <div class="decoration-list">
                <p>
                    Обсудите заранее все условия вашего пребывания в Италии с нашим консультантом. Мы забронируем для вас гостиницу в соответствии с вашими пожеланиями, обеспечим трансферт из аэропорта и обратно, предоставим бесплатно услуги русскоговорящего сопровождающего;
                </p>
                <img src="/src/img/design/ico/10.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
            <div class="decoration-list">
                <p>
                    В офисе вы сможете лично ознакомиться с каталогами  производителей итальянской мебели, выбрать ткани и отделку из имеющихся в наличии образцов;
                </p>
                <img src="/src/img/design/ico/11.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
            <div class="decoration-list">
                <p>
                    Мы организуем вам индивидуальную поездку на  итальянскую фабрику. Данную услугу необходимо заранее обговорить с нашим консультантом;
                </p>
                <img src="/src/img/design/ico/12.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
            <div class="decoration-list">
                <p>
                    При подтверждении заказа и подписании контракта, вы вносите аванс в размере 50% от стоимости и ожидаете извещения о его готовности. Оплату вы сможете произвести безналичным переводом на счёт нашей компании или же картой в нашем офисе.
                </p>
                <img src="/src/img/design/ico/13.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
        </div>
        <!-- /.decoration-list-wrap -->

        <div class="decoration-pay">
            <div class="decoration-pay__title">
                К оплате принимаются карты:
            </div>
            <!-- /.decoration-pay__title -->
            <div class="decoration-pay__img">
                <img src="/src/img/design/payment/1.png" alt="ico">
                <img src="/src/img/design/payment/2.png" alt="ico">
                <img src="/src/img/design/payment/3.png" alt="ico">
                <img src="/src/img/design/payment/4.png" alt="ico">
            </div>
            <!-- /.decoration-pay__img -->
        </div>
        <!-- /.decoration-pay -->

        <div class="decoration-list-wrap">
            <div class="decoration-list">
                <p>
                    За 2 недели до готовности заказа, вам необходимо будет внести остаток суммы.
                </p>
                <img src="/src/img/design/ico/9.svg" alt="ico">
            </div>
            <!-- /.decoration-list -->
        </div>
        <!-- /.decoration-list-wrap -->

    </div>
    <!-- /.decoration -->

{% endblock %}