{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Услуги' %}

{% block content %}

    <div class="page-tabs">
        <a href="services-1.html" class="page-tabs__tab">Оформление заказа</a>
        <!-- /.page-tabs__tab -->
        <a href="services-2.html" class="page-tabs__tab active">Упаковка и доставка</a>
        <!-- /.page-tabs__tab -->
        <a href="services-3.html" class="page-tabs__tab">Услуги дизайнера</a>
        <!-- /.page-tabs__tab -->
    </div>
    <!-- /.page-tabs -->

    <div class="delivery">
        <h2>Упаковка и доставка итальянской мебели в Россию </h2>
        <div class="delivery-item">
            <table>
                <tr>
                    <td>
                        <img src="/src/img/content/delivery/19.png" alt="img">
                    </td>
                    <td>
                        <p>
                            Итальянская мебель упаковывается на фабрике в сверхпрочный целофан или же в картонные коробки. Целостность упаковок проверяется нашими операторами с момента загрузки на фабрике и до момента её выгрузки на склад перевозчика.
                        </p>
                        <p>
                            Если мебель деликатная и хрупкая, мы упаковываем её на паллет или же изготавливаем специально для неё защитную решётку.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.delivery-item -->
        <div class="delivery-item">
            <table>
                <tr>
                    <td>
                        <p>
                            Вся мебель с момента передачи на склад транспортной компании страхуется и перевозится сборным грузом, что значительно снижает расходы на её доставку.
                        </p>
                        <p>
                            При получении груза тщательно проверьте целостность упаковки. В случае её повреждения, даже незначительного, зафиксируйте данный факт вместе с оператором перевозчика.
                        </p>
                    </td>
                    <td>
                        <img src="/src/img/content/delivery/20.png" alt="img">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.delivery-item -->
        <div class="delivery-item">
            <table>
                <tr>
                    <td>
                        <img src="/src/img/content/delivery/21.png" alt="img">
                    </td>
                    <td>
                        <p>
                            Доставка мебели осуществляется международными транспортными компаниями, чьими услугами мы пользуемся уже не один год.
                        </p>
                        <p>
                            Мебель доставляется на склад компании-перевозчика, откуда вы можете осуществить самовывоз. По предварительной договорённости, мебель доставляется непосредственно по адресу назначения.
                        </p>
                        <p>
                            Транспортные расходы клиент оплачивает при получении товара по установленному тарифу.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.delivery-item -->
    </div>
    <!-- /.delivery -->

{% endblock %}