{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Услуги' %}

{% block content %}

    <div class="page-tabs">
        <a href="services-1.html" class="page-tabs__tab">Оформление заказа</a>
        <!-- /.page-tabs__tab -->
        <a href="services-2.html" class="page-tabs__tab">Упаковка и доставка</a>
        <!-- /.page-tabs__tab -->
        <a href="services-3.html" class="page-tabs__tab active">Услуги дизайнера</a>
        <!-- /.page-tabs__tab -->
    </div>
    <!-- /.page-tabs -->

    <div class="service">
        <div class="service-info">
            <img src="/src/img/content/22.png" alt="img">
            <p>
                Наша компания предлагает клиентам полный комплекс услуг: от идеи до её
                воплощения. Целью нашей деятельности является создание неповторимого
                индивидуального проекта с использованием актуальных отделочных и декоративных
                материалов, итальянской мебели и предметов интерьера.
            </p>
            <p>
                У нас вы можете заказать дизайн-проект итальянских дизайнеров и архитекторов,
                но эта услуга достаточно дорогая.
            </p>
            <p>
                В качестве альтернативы мы можем предложить вам услуги наших партнёров -
                молодой, но креативной дизайн-студии "Stile di Vita" из Сочи, возглавляемой
                прекрасной девушкой Ксенией. Услуги наших дизайнеров из России, значительно
                сократят расходы на создание и реализацию проекта. Дизайн-студия "Stile di Vita"
                может предложить вам полный пакет услуг для реализаций дома вашей мечты:
            </p>
        </div>
        <!-- /.service-info -->
        <ul class="markered-ul">
            <li>Консультации по оформлению интерьера. </li>
            <li>Наши дизайнеры выезжают на объект и осуществляют замеры.</li>
            <li>Разрабатывают стилевую концепцию интерьера, основываясь на ваших потребностях и пожеланиях. </li>
            <li>Полный пакет чертежей</li>
            <li>Наша компания предоставляет дополнительные скидки на покупку итальянской  мебели согласно проекту, разработанному нашими партнёрами дизайн-студией "Stile di Vita".</li>
            <li>Ремонтно-строительные работы и отделка помещений.</li>
            <li>3D визуализация будущего интерьера</li>
            <li>
                Анимация и интерактивное приложение для интерьера и экстерьера. Позволяет прогуляться по будущему
                интерьеру в реальном времени, ощутить проект не только на бумаге, но и в объёме.
            </li>
        </ul>
        <!-- /.markered-ul -->

        <div class="service-design">
            <div class="design-tabs">
                <div class="design-tabs__item active">Уличный дизайн</div>
                <!-- /.design-tabs__item -->
                <div class="design-tabs__item">Актуальная класика</div>
                <!-- /.design-tabs__item -->
                <div class="design-tabs__item">Современный стиль</div>
                <!-- /.design-tabs__item -->
            </div>
            <!-- /.design-tabs -->
            <div class="design-content-wrap">
                <div class="design-content active">
                    <img src="/src/img/content/catalog/23.png" alt="img">
                </div>
                <!-- /.design-content -->
                <div class="design-content">
                    <img src="/src/img/content/catalog/23.png" alt="img">
                </div>
                <!-- /.design-content -->
                <div class="design-content">
                    <img src="/src/img/content/catalog/23.png" alt="img">
                </div>
                <!-- /.design-content -->
            </div>
            <!-- /.design-content-wrap -->
        </div>
        <!-- /.service-design -->

        <div class="service-info">
            <p>
                Мы работаем напрямую с итальянскими производителями мебели, поэтому можем предложить лучшие цены,
                удобный сервис и гарантию покупки оригинальной  и качественной мебели.
            </p>
        </div>
        <!-- /.service-info -->

    </div>
    <!-- /.service -->

{% endblock %}